* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
}

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

body {
    background-color: var(--navy);
}

p {
    line-height: 25px;
    color: var(--slate);
}

.navbar {
    position: relative;
    margin-bottom: 120px;
    right: 0;
    left: 0;
}

.nav-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px 0;
}

/* start of logo style */
.logo {
    margin-left: 25px;
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    background-color: var(--green);
    align-items: center;
    position: relative;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    transition: opacity 0.2s;
}

.logo::before {
    width: 35px;
    height: 40px;
    content: 'S';
    position: absolute;
    background-color: var(--dark-navy);
    clip-path: inherit;
    text-align: center;
    line-height: 200%;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--green);
}

.logo:hover {
    opacity: 0.9;
}
/* end of logo style */

/* start of menu icon (harmbugger) style */
.menu-icon {
    margin-right: 25px;
    width: 33px;
    height: 33px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.menu-icon span {
    background-color: var(--green);
    width: 90%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.menu-icon .line-1 {
    width: 50%;
    transform: translate(-100%, -7px);
    transform-origin: 0 0;
}

.menu-icon .line-3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(0, 5px);
    transform-origin: 100% 0;
}

.open-menu-icon .line-1 {
    transform: translate(0, 0) rotate(-45deg);
}

.open-menu-icon .line-3 {
    transform: translate(-100%, 0) rotate(-45deg);
}

.open-menu-icon .line-2 {
    transform: translate(-50%, -50%) rotate(45deg);
}
/* end of menu icon (harmbugger) style */

/* start of menu items style */
.hide-menu-container {
    position: absolute;
    top: -9999px !important;
    left: -9999px !important;
}

.open-menu-container {
    position: fixed;
    right: 0;
    top: 80px;
    left: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-link {
    text-decoration: none;
}

.menu-item {
    font-size: 1.3rem;
    margin-bottom: 40px;
    color: var(--lightest-slate);
    list-style: none;
}

.menu-item:hover{
    color: var(--green);
}

.resume-link,
.contact-btn {
    text-decoration: none;
    padding: 18px 60px;
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--green);
    background-color: var(--navy);
    transition: background-color 0.2s;
}

.resume-link:hover,
.contact-btn:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.main-container {
    padding: 0 7% 0 7%;
}

.introduction,
.about,
.experience,
.work,
.contact-me,
.footer {
    margin-bottom: 200px;
}
/* end of menu items style */
.introduction .name-intro {
    color: var(--green);
}

.introduction .title {
    color: var(--white);
}

.introduction .sub-title {
    color: var(--light-slate);
}

.introduction .title, 
.introduction .sub-title {
    font-weight: bold;
    font-size: 2.5rem;
}

.introduction .summary {
    margin-bottom: 70px;
}

.introduction .name-intro,
.introduction .sub-title {
    margin-bottom: 25px;
}
/* end of introduction */

/* start of about section */
.sub-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

h2 {
    color: var(--lightest-slate);
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 3%;
}

.horizontal-line {
    border-bottom: 1px solid rgb(35, 53, 84);
    flex: 1;
}

.about p {
    margin-bottom: 20px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    margin-bottom: 70px;
}

.skills ul,
.experience-content .right-side ul {
   list-style-type: none;
   margin-right: 15%;
}

.skills ul li::before,
.experience-content .right-side ul li::before{
    content: "";
    border-color: transparent var(--green);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.skills ul li,
.work-place {
    color: var(--slate);
    font-size: 0.7rem;
    font-weight: 100;
}

.behind-container {
    width: 300px;
    height: 300px;
    border: 2px solid var(--green);
    border-radius: 3px;
    margin: 0 auto;
}


.profile-pic-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
    bottom: 20px;
    border-radius: 3px;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.profile-pic-container .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: opx;
    border-radius: 3px;
    background-color: white;
    opacity: 0;
}
/* end of about section */

/* start of exprience */
.experience-content {
    display: flex;
    justify-content: space-evenly;
}

.experience .left-side {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.experience .left-side .left-item {
    display: flex;
    width: 105px;
    height: 40px;
}

.work-place {
    align-self: center;
    cursor: pointer;
    display: inline-block;
    text-align: justify;
    padding: 10px;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.work-place:hover {
    background-color: var(--light-navy);
    color: var(--green);
}

.experience .left-side .left-item .left-bar {
    border-left: 2px solid rgb(35, 53, 84);
}

.experience-content .right-side .title {
    color: var(--white);
    font-size: 1.1rem;
}

.experience-content .right-side .title span {
    color: var(--green);
}

.experience-content .right-side .date {
    font-size: .7rem;
}
.experience-content .right-side ul li {
    font-size: .9rem;
}

.experience-text {
    display: none;
}

.show-experience-text {
    display: block;
}
/* end of experience */

/* start of work */
.work {
    margin-bottom: 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
}
.work .work-cart {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    margin-bottom: 70px;
}
.work .work-cart img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.work .work-cart .cart {
    position: absolute;
    background-color: rgba(2,12,27,0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
    padding: 25px;
}

.work .work-cart .cart .project-link {
    text-decoration: none;
}

.work .work-cart .cart .featured {
    color: var(--green);
    font-size: 0.8rem;
    font-weight: lighter;
    margin-bottom: 5px;
}

.work .work-cart .cart .project-title {
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.work .work-cart .cart .project-title:hover {
    color: var(--green);
}

.work .work-cart .cart .project-description {
    font-size: 0.8rem;
    line-height: 22px;
    margin-bottom: 30px;
}

.work .work-cart .cart .tools-used {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.work .work-cart .cart .tools-used span {
    font-size: 0.7rem;
}

.work .work-cart .cart .project-links {
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa {
    font-size: 22px;
    cursor: pointer;
} 

.fa:hover {
    color: var(--green);
}
/* end of work */

/* start of contact me */
.contact-me {
    text-align: center;
}

 .contact-me h2{
    margin-bottom: 20px;
}

.contact-note {
    margin-bottom: 70px;
}
/* end of contact me*/

/* start of footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    column-gap: 30px;
    margin-bottom: 15px;
}
.footer-links .fa {
    font-size: 27px;
}
.copy-right {
    text-decoration: none;
    transition: all 0.5s;
    font-size: .7rem;
}
.copy-right:hover {
    color: var(--green);
}

/* end of footer */